# CONFIGS APPLIED GLOBALLY
global
    maxconn 32768
    daemon

# CONFIGS APPLIED BY DEFAULT ON FRONTENDS AND BACKENDS
defaults
    mode    http
    retries 3
    timeout connect     5s
    timeout client     50s
    timeout server    450s

# FRONTENDS HTTP REDIRECT TO HTTPS
frontend http-in
    bind *:80
    acl http ssl_fc,not
    http-request redirect scheme https if http

# FRONTENDS HTTP
frontend https-in
    bind *:443
    mode http
    acl host_vault hdr(host) -i vault.achetronic.com
    use_backend cluster_vault if host_vault

# BACKENDS HTTP
backend cluster_vault
    mode http
    balance roundrobin
    option forwardfor
    server node1 bitwardenrs:80 check
